<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
    <link rel = 'stylesheet' href = '/static/style.css'>
</head>
<body>
    <div id = 'home-intro'>
        <h1>Welcome {{content}}</h1>
        <div id = 'home-buttons'>
            <button class = 'home-button'>Timer</button>
            <button class = 'home-button'>Statistics</button>
            <button class = 'home-button'>Solver</button>
            <button class = 'home-button'>Progress Predictor</button>
            <button class = 'home-button'>Account</button>
        </div>
    </div>
</body>
</html>